body {
    font-family: "Source Sans Pro", sans-serif;
    border: 20px solid #bdc3c7;
    margin: 20px auto;
    padding: 20px;
    max-width: 700px;
    width: 80%;
}

.date {
    color: #3498db;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.title {
    font-weight: 700;
    font-size: 2.0rem;
    color: #2c3e50;
    text-transform: capitalize;
}

.firstPara {
    border-left: 5px solid #bdc3c7;
    padding-left: 7.5px;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.post {
    margin-bottom: 20px;
}